.context-menu {
    position: fixed;
    top: var(--y);
    left: var(--x);
    width: 150px;
    min-height: 100px;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    z-index: 3000;
    border: var(--context-menu-border);
    overflow: hidden;
    animation: to-context-menu-appear 0.3s ease-in-out;
}

@keyframes to-context-menu-appear {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.context-menu ul li {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.context-menu ul li button {
    border: 1px solid transparent;
    background: transparent;
    border-radius: 0;
    width: 100%;
    height: 50px;
    transition:
        background var(--transition),
        border var(--transition);
    padding: 10px;

}

.context-menu ul li button:hover {
    background: var(--card-background-color-hover);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border: 1px solid var(--border-color);
}