.button-title {
  font-size: var(--font-size-small);
  font-family: var(--font-medium);
  text-align: center;
  margin-top: 5px;
}

.button-device-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button-device-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.button-device-large-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-align: center;
}

.button-device-large-content span {
  text-wrap: wrap;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button .svg-icon svg,
.button .svg-icon svg path {
  stroke: var(--button-text-color);
  transition: stroke var(--transition);
}

.button:hover .svg-icon svg,
.button:hover .svg-icon svg path {
  stroke: var(--button-svg-light-hover-color);
}

.button:focus .svg-icon svg,
.button:focus .svg-icon svg path {
  stroke: var(--button-focus-text-color);
}

.button:active .svg-icon svg,
.button:active .svg-icon svg path {
  stroke: var(--button-active-text-color);
}

.button-entity {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
