.button-title {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.button-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    width: 80px;
    aspect-ratio: 1;
    box-sizing: border-box;
    transition: width var(--transition);
   }
   
   .button-medium {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border: var(--border);
       border-radius: var(--border-radius);
       padding: 5px;
       width: 160px;
       aspect-ratio: 1;
       transition: width var(--transition);
   }
   
   .button-large {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border: var(--border);
       border-radius: var(--border-radius);
       padding: 5px;
       width: 320px;
       height: 160px;
       transition: width var(--transition);
   }
   
   .button .svg-icon svg,
   .button .svg-icon svg path {
       stroke: var(--button-text-color);
       transition: stroke var(--transition);
   }
   
   .button:hover .svg-icon svg,
   .button:hover .svg-icon svg path {
       stroke: var(--button-svg-light-hover-color);
   }
   
   .button:focus .svg-icon svg,
   .button:focus .svg-icon svg path {
       stroke: var(--button-focus-text-color);
   }
   
   .button:active .svg-icon svg,
   .button:active .svg-icon svg path {
       stroke: var(--button-active-text-color);
   }
   
   .button-entity {
       font-size: 12px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       width: 100%;
       text-align: center;
   }
