.space {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: calc(98vh - 13vh);
    width: 98vw;
    background: none;
    padding: 1vh 1vw;
}

.add-item {
    backdrop-filter: var(--blur);
    background: var(--card-background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    height: var(--standart-item-size);
    aspect-ratio: 1;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.card-svg {
    width: 120px;
    height: 120px;
}

/* Adaptive icon sizes for card SVG */
@media screen and (max-width: 767px) {
    .card-svg {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card-svg {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .card-svg {
        width: 140px;
        height: 140px;
    }
}