.loading-indicator-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading-indicator-text {
    font-size: 18px;
    font-weight: 600;
    color: var(--button-text-color);
}