.switch-small {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: var(--border);
 border-radius: var(--border-radius);
 padding: 5px;
 width: 80px;
 aspect-ratio: 1;
 box-sizing: border-box;
 transition: width var(--transition);
}

.switch-medium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    width: 160px;
    aspect-ratio: 1;
    transition: width var(--transition);
}

.switch-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    width: 320px;
    height: 160px;
    transition: width var(--transition);
}

.switch .svg-icon svg,
.switch .svg-icon svg path {
    stroke: var(--button-text-color);
    transition: stroke var(--transition);
}

.switch:hover .svg-icon svg,
.switch:hover .svg-icon svg path {
    stroke: var(--button-svg-light-hover-color);
}

.switch:focus .svg-icon svg,
.switch:focus .svg-icon svg path {
    stroke: var(--button-focus-text-color);
}

.switch:active .svg-icon svg,
.switch:active .svg-icon svg path {
    stroke: var(--button-active-text-color);
}

.switch-title {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

