.add-card-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1002;
    backdrop-filter: var(--blur);
}

.add-card-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card-background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    backdrop-filter: var(--blur);
    background: var(--card-background-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

.selection-window {
    width: 100%;

}

.add-card-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.tab-button {
    padding: 0 7px;
    flex-grow: 1;
    max-width: 120px;
    min-width: 80px;
    border-radius:  5px 5px 0 0;
    background: var(--card-background-color);
}

.add-card-entity-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: var(--border);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}