.add-card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1002;
  backdrop-filter: var(--blur);
}

.add-card-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background-color);
  padding: 20px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  backdrop-filter: var(--blur);
  background: var(--card-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.add-card-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  min-height: 0;
  gap: 10px;
}

.left-container,
.right-container {
  flex: 1 1 0;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.right-container {
  border: var(--border);
  border-radius: var(--border-radius);
}

.add-card-tabs {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex-shrink: 0;
}

.tab-button {
  padding: 0 7px;
  flex-grow: 1;
  max-width: 120px;
  min-width: 80px;
  border-radius: 5px 5px 0 0;
  background: var(--card-background-color);
}

.icon-selection-window {
  display: grid;

  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  flex: 1;
  min-height: 0;
  justify-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden auto;
  place-content: start start;
  place-items: center;
}

.entity-selection-window {
  flex: 1 1 auto;
  min-height: 0;
  padding: 10px 5px;
  box-sizing: border-box;
  border: var(--border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  scrollbar-gutter: stable both-edges;
}

.icon-selection-window {
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.card-preview-window {
  width: 100%;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: center;
  flex-shrink: 0;
}

.card-preview-window .sensor {
  position: relative;
}

.card-preview-window .sensor::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  border: 1px solid rgb(234 234 234 / 50%);
  pointer-events: none;
  opacity: 0;
  transform: scale(1);
  animation: outline-expand 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

.add-card-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  justify-content: end;
}

.add-card-create-button,
.add-card-cancel-button {
  min-width: 100px;
  padding: 12px 16px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  flex-shrink: 0;
}
