.card-size-selection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  box-sizing: border-box;
  border-bottom: var(--border);
}

.size-small {
  width: calc(var(--preview-card-coeff-size) / 2);
  height: calc(var(--preview-card-coeff-size) / 2);
}

.size-medium {
  width: var(--preview-card-coeff-size);
  height: var(--preview-card-coeff-size);
}

.size-large {
  width: calc(var(--preview-card-coeff-size) * 2);
  height: var(--preview-card-coeff-size);
}

.size-extra-large {
  width: calc(var(--preview-card-coeff-size) * 3);
  height: var(--preview-card-coeff-size);
}
