.sensor {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: var(--border);
 border-radius: var(--border-radius);
 padding: 5px;
 width: 100px;
 aspect-ratio: 1;
}

.sensor .svg-icon svg,
.sensor .svg-icon svg path {
    stroke: var(--button-text-color);
    transition: stroke var(--transition);
}

.sensor:hover .svg-icon svg,
.sensor:hover .svg-icon svg path {
    stroke: var(--button-svg-light-hover-color);
}

.sensor:focus .svg-icon svg,
.sensor:focus .svg-icon svg path {
    stroke: var(--button-focus-text-color);
}

.sensor:active .svg-icon svg,
.sensor:active .svg-icon svg path {
    stroke: var(--button-active-text-color);
}
